<div class="login">
    <h1>reserveへようこそ</h1>

    <form class="form" method="post" action="#">

      <p class="submit"><input type="submit" name="sent" value="ログイン"></p>

      <p class="submit"><input type="submit" name="sent" value="発注者登録"></p>

      <p class="submit"><input type="submit" name="sent" value="請負者登録"></p>


    </form>
  </div> <!--/ Login-->

